form {
    background-color: #FFF;
    max-width: 80%;
    margin: 10vh auto;
    padding: 30px
}
.searchForm {
    border-bottom: 1px solid grey;
    margin-bottom: 3vh;
}
.reservationForm {
    margin-top: 0;
}
legend {
    padding-top: 20px;
}
fieldset > div, legend {
    margin: 20px 20px;
}
.wrap {
    text-align: center;
    /*margin: 0 auto;*/
    /*display: inline-block;*/
}
.formName {
    margin-right: 15px;
}
.error {
    color: red;
    margin-right: 15px;
}
.errorSlight {
    color: #64403f;
}
.centerText {
    text-align: center !important;
}
.hidden {
    display: none;
}
.list-group-item-success {
    font-weight: bold;
    font-size: 1.2em;
}
.finalMessage {
    padding-top: 35px;
    font-size: 2em;
}